.row{
    border: solid black;
    background-color: rgb(97, 16, 16);
    width: 800 px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    
}
.col{
    height: 680px;
    width: 400px;
    border: solid black 1px;
}
div img{
    width: 100%;
    height: 300px;
}
#i1{
    text-align: center;
    padding: 5px;
    color: white;
}
div p{
    padding-left: 30px;
    text-align:left;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
.b{
    border: solid white;
    width: 96%;
    height: 25px;
    float: left;
    color: white;
    text-align: center;
    padding: 2px;
}