*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./img/wallcofee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1450px;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    /* background: rgba(255,255,255,0.5); */
    height: 40px;
    border-radius: 10px;
    animation: anim_nav linear 1s 1;
}
ul{
    width: 100%;
}
ul li{
    width: 25%;
    float: left;
    line-height: 40px;
    cursor: pointer;
    list-style: none;
    text-align: center;
    transition: 1s;
    font-size: 20px;
    border-radius: 10px;
    color: brown;
}
ul li:hover{
    background: #561b04;
    color: white;
}
section{
    position: relative;
    top: 100px;
    width: 100%;
}
.welcome{
    width: 600px;
    height: 200px;
    background: rgba(255,255,255,0.5);
    margin: 0 2em;
    animation: 2s linear 1 anim_Welcom;
    display: inline-block;
}
h1{
    color: rgb(170, 82, 82);
    text-align: center;
    font-size: 2.5em;
}
.imgs{
    width: 100%;
}
.imgs img{
    width: 30%;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}
.imgs img:hover{
    transform: scale(1.1);
}
/* .menu{
    background: url(../image/menu-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
} */
/* .menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1px;
    justify-content: center;
}
.menu .box-container .box{
    flex:1 1 42rem;
    padding:2rem;
    border:var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-left: 6rem;
} */

/* .menu .box-container .box:hover{
    border:var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .box img{
    height: 8rem;
    margin-left: -6rem;
}

.menu .box-container .box .content h3{
    font-size: 2.2rem;
    color:var(--main-color);
    line-height: 1.8;
}

.menu .box-container .box .content p{
    font-size: 1.6rem;
    color:var(--main-color);
    line-height: 1.8;
    padding:1rem 0;
}
.menu .box-container .box .content span{
    font-size: 2rem;
    color:var(--main-color);
    line-height: 1.8;
} */

.menu{
    width: 600px;
    height: 150px;
    /* background: rgba(255,255,255,0.5); */
   
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center;
    /* display: flex; */
    margin-top: 200px; 

}
.menu div{

    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: 200px;
    
}

.menu p{
    text-align:center;
    padding: 5px;
    font-family: "cookie";
    font-size: 50px;
    color: rgb(124, 18, 18);

}
.menu button{
    border-radius:20px;
    /* border:var(--border); */
    font-size: 20px;
    color:white;
    cursor: pointer;
    display: inline-block;
    margin-right: 200px;
    padding:.9rem 1.5rem;
    background: none;
    background-color: rgb(131, 58, 58);
}
.menu button:hover{

    border-radius:20px;
    border:var(--border-hover);
}
.menu img{

    width: 30%;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
}

.coffee{
    width: 100%;
    height: 700px;
    /* background: rgba(255,255,255,0.5); */
    float: right;
    margin-top: 15px;
    display: flex;
    flex-direction:unset;
    justify-content: space-around;
    
   
}

.coffee div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:80px;
  
    
}
/* .coffee h4{
    color: rgb(170, 82, 82);
    text-align: center;
    font-size: 2.5em;

} */
.coffee div p{
    text-align: left;
    padding: 5px;
    font-family: "cookie";
    font-size: 25px;
    color: rgb(85, 10, 10);
    /* font-weight: 100; */
}

.coffee img{
    width: 150px;
    border-radius: 10px;
    height: 180px;
}
@keyframes anim_nav{
    0% {margin-top: 100px;opacity: 0;}
    100% {margin-top: 0px;opacity: 1;}
}
@keyframes anim_welcome{
    0% {margin-top: 100px;opacity: 0;}
    100% {margin-top: 0px;opacity: 1;}
}
.footer .box-container{
    display:flex;
    /* grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr)); */
    gap:545px;
    margin-top: 581px;

}

.footer .box-container .box h3{
    font-size: 20px;
    padding: 5px;;
    color:rgb(71, 16, 16);
    text-align:justify;
}

.footer .box-container .box a{
    display:flex;
    font-size: 20px;
    padding:5px;
    color:brown;
}

.footer .box-container .box a i{
    padding-right: 2px;
    text-align: justify;
}

.footer .box-container .box a:hover i{
    padding-right: 5px;
}

.footer .credit{
    text-align: center;
    font-size: 20px;
    padding:5px;
    margin-top: 1rem;
    color:var(--main-color);
}

.footer .credit span{
    border-bottom:currentColor;
}
